<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpPlatform processPath="C:\Users\dattaguest\Downloads\medsys-main\medsys-main\env\medsysenv\Scripts\python.exe"
                      arguments="C:\Users\dattaguest\Downloads\medsys-main\medsys-main\medicalsystem\manage.py runserver %HTTP_PLATFORM_PORT%"
                      stdoutLogEnabled="true"
                      stdoutLogFile="C:\Users\dattaguest\Desktop\logs\">
            <environmentVariables>
				<environmentVariable name="SERVER_PORT" value="%HTTP_PLATFORM_PORT%" />
            </environmentVariables>
        </httpPlatform>
        <handlers>
            <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
	    <appSettings>
        <add key="PYTHONPATH" value="C:\Users\dattaguest\Downloads\medsys-main\medsys-main\medicalsystem" />
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="DJANGO_SETTINGS_MODULE" value="medicalsystem.settings.bases" />
    </appSettings>
</configuration>
