@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/* Definición de Variables para el Modo Claro */
:root {
    --background-color: #f1f1f1;
    --text-color: #5d5d5d;
    --button-bg: #525252;
    --button-hover-bg: #7f7f7f;
    --footer-bg: #00420f;
    --footer-text-color: #ffffff;
    --cover-bg: #f1f1f1;
}

/* Modo Claro */
body {
    background-color: var(--background-color);
    color: var(--text-color);
}

footer {
    background-color: var(--footer-bg);
    color: var(--footer-text-color);
    text-align: center;
    width: 100%;
    position: relative;
    padding: 15px;
    margin-top: 0;
}

/* Estilos para el botón de cambiar modo */
button#theme-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre el texto y los íconos */
}

/* Estilo para el texto dentro del botón */
button#theme-toggle .button-text {
    font-size: 14px;
    margin-right: 10px;
}

/* Estilo para los íconos */
button#theme-toggle i {
    font-size: 18px; /* Tamaño del ícono */
    color: #fff; /* Color blanco para los íconos */
}

/* Muestra el ícono adecuado según el tema actual */
body[data-theme='dark'] #icon-sun {
    display: none;
}

body[data-theme='light'] #icon-moon {
    display: none;
}

/* Definición de Variables para el Modo Oscuro */
body[data-theme='dark'] {
    --background-color: #202020;
    --text-color: #ffffff;
    --button-bg: #807f7f;
    --button-hover-bg: #555555;
    --footer-bg: #00420f;
    --footer-text-color: #ffffff;  /* Asegúrate de que este color sea el deseado */
    --cover-bg: #202020;
}

/* Aplicar Modo Oscuro */
body[data-theme='dark'] {
    background-color: var(--background-color);
    color: var(--text-color);
}

footer {
    background-color: var(--footer-bg);
    color: var(--footer-text-color); /* Blanco en el modo oscuro */
}

.container__cover {
    width: 100%;
    height: 630px;
    background-color: var(--cover-bg); /* Usa la variable para el fondo */
    padding: 40px;
    position: relative;
}

/* Estilos de botones */
.button-container input[type="button"] {
    padding: 15px 40px;
    border: none;
    font-size: 15px;
    border-radius: 20px;
    background: var(--button-bg);
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 30px -12px #000000;
    transition: all 300ms;
}

.button-container input[type="button"]:hover {
    background: var(--button-hover-bg);
    box-shadow: 1px 1px 30px -6px #000000;
}

.login-button input[type="button"] {
    background: #1f61f4;
    box-shadow: 1px 1px 30px -12px #1f61f4;
}

.login-button input[type="button"]:hover {
    box-shadow: 1px 1px 30px -6px #007bff;
}

/* Otras reglas CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: inherit; /* Asegúrate de que todos los elementos hereden el color del texto del body */
}

header {
    width: 100%;
    height: 30px;
    margin-top: 40px;
    position: absolute;
    z-index: 1;
    padding: 40px;
}

main {
    flex: 1;
}

.container__menu {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}



.menu {
    display: flex;
    align-items: center;
}

.menu ul {
    display: flex;
}

.menu ul li {
    list-style: none;
    margin-left: 36px;
}

.menu ul li a {
    text-decoration: none;
    font-size: 16px;
    color: inherit;
    text-transform: uppercase;
}

#selected {
    background: green;
    padding: 10px 40px;
    border-radius: 50px;
}

.menu nav img {
    display: none;
}

.menu #btn_menu {
    display: none;
}

/* COVER */
.cover {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.content {
    position: absolute;
    top: 100px;
    left: -250px;
    text-align: center;
    z-index: 10;
    color: var(--text-color);
}

.image {
    max-width: 42%;
    height: auto;
    margin-bottom: 30px;
}

.text {
    font-size: 15px;
    margin-bottom: 20px;
    color: var(--text-color);
}

.circle-image {
    position: absolute;
    right: 40px;
    top: 47%;
    transform: translateY(-50%);
    width: 380px;
    height: 380px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.circle-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Contenedor de botones */
.button-container {
    position: relative;
    left: -350px;
    margin-top: 200px;
    display: flex;
    gap: 20px;
}

/* Media Queries para Responsividad */


/* Ajustes para pantallas de hasta 768px de ancho */
@media screen and (max-width: 640px) {
    header {
        padding: 30px;
    }

    .container__cover {
        height: auto;
        padding: 20px;
    }


    .menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu ul {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .menu ul li {
        margin-left: 0;
        margin-top: 30px;
    }

    .menu ul li a {
        font-size: 14px;
    }

    #selected {
        background: none;
        padding: 0;
        border-radius: none;
        color: #4df569;
    }

    .menu nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background: white;
        padding: 20px;
        transform: translateX(100%);
        transition: transform 0.3s ease;
    }

    .menu nav.active {
        transform: translateX(0);
    }

    .menu #btn_menu {
        display: block;
    }

    .button-container {
        flex-direction: column;
        align-items: center;
        left: -0px;
        margin-top: 240px;
    }

    .button-container input[type="button"] {
        width: 100%;
        margin-bottom: 10px;
    }

    .circle-image {
        width: 180px;
        height: 180px;
        right: 110px;
        top: 58%;
        bottom: 70px;
    }

    .content {
        position: static;
        left: 2;
        margin-top: 100px;
        text-align: center;
    }

    .text {
        font-size: 19px;
        margin-bottom: 15px;
    }

    footer {
        padding: 5px; /* Reducido el padding para pantallas pequeñas */
        font-size: 14px; /* Ajuste del tamaño de la fuente para el footer */
        text-align: center; /* Centrado del texto en el footer */
    }
}